.movieDetail {
  display: grid;
  grid-template-columns: 5% 1fr 3fr 5%;
  grid-template-rows: 5% 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". poster details ."
    ". poster details .";
}

.thumb > a > img {
  width: 20em;
  height: auto;
  padding: 2em;
  border-style: none;
}

.thumb > p {
  margin-top: -10%;
}

.thumb {
  grid-area: poster;
  text-align: center;
}

.detail {
  grid-area: details;
}

.actors > img {
  width: 20%;
  height: auto;
  padding: 0.5em;
}

.actors {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .actors > img {
    width: 30%;
  }
}
